{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'service/css/service.css' %}">
{% endblock %}


{% block body %}
    <section id="data-table">
        <h1 class="section-title">Cost of services</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for el in data %}
                    <tr>
                        <td>{{ el.service }}</td>
                        <td>{{el.price}} грн.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}